<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Tourist Guide</title>
</head>
<body>
<h1>All Attractions:</h1>
<table>
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>City</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="touristattraction : ${attractions}">
        <td th:text="${touristattraction.name}"></td>
        <td th:text="${touristattraction.description}"></td>
        <td th:text="${touristattraction.city}"></td>
        <td>
            <form th:action="@{/attractions/{name}/edit(name=${touristattraction.name})}" method="get">
                <button type="submit">Edit</button>
            </form>
        </td>
        <td> <!--Modificer action endpoint-->
            <form th:action="@{/attractions/delete/{name}(name=${touristattraction.name})}" method="post">
                <button type="submit">Delete</button>
            </form>
        </td>
        <td>
            <form th:action="@{/attractions/{name}/tags(name=${touristattraction.name})}" method="get" target="_blank">
                <button type="submit">Tags</button>
            </form>
        </td>


    </tr>

    </tbody>
</table>
<br>
</form>
<form th:action="@{/attractions/add}" method="get">
    <button type="submit">Add attraction</button>
</form>


</body>
</html>