<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/main.css}" rel="stylesheet">
    <title>Tags for <span th:text="${attraction.name}"></span></title>
</head>
<body>
<h1>Tags for <span th:text="${attraction.name}"></span></h1>
<ul>
    <li th:each="tag : ${tags}">
        <span th:text="${tag.getDisplayName()}"></span>
    </li>
</ul>
<form th:action="@{/attractions}" method="get">
    <button type="submit">Back</button>
</form>
</body>
</html>
